body{
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(lightgreen,lightblue,orange);
    color: green;
}
.container{
    width: 90%;
    margin: auto;
}
h1{
    font-size: 50px;
}
.input{
    font-family: Courier New, italic;
    font-size: 20px;
    width: 300px;
    padding: 5px 10px;
    margin: 10px 0;
    /* display: block; */
}
.select select{
    padding: 5px 10px;
    font-size: 20px;
}